

<!--Modal back up -->
<!--
NEW PIN MODAL -->
<div id="confirmDelete">
    <!--<div class="modal-header">
       <h3>Delete </h3>
    </div>-->
    <div class="modal-body" id="modal-body">
       <h4>Do you want to delete this image ?</h4>
    </div>
</div>
<div class="modal-footer">
    <button class="cancel btn btn-warning cursor" type="button" ng-click="maps.cancelImageDelete()">Cancel</button>
    <button class="delete btn btn-warning cursor" ng-click="maps.deleteImage()">Delete Image</button>
</div>
