<div id="about">

	<h1 class="big-title">About Us</h1>

	<!-- 4 description sections, in a square on desktop, stacked on mobile -->
	<div class="info-squares container">
		<div class="square location col-md-6 col-lg-6 col-xl-6">
			<img src="assets/Location.png">
			<div class="title">Location</div>
			<div class="description">We're based out of Melbourne, Australia. However, you can use us anywhere!</div>
		</div>
		<div class="square time col-md-6 col-lg-6 col-xl-6">
			<img src="assets/Time.png">
			<div class="title">Time</div>
			<div class="description">We've been in the business of inspiring social travel for 16 months, and there's no sign of stopping anytime soon!</div>
		</div>
		<div class="square team col-md-6 col-lg-6 col-xl-6">
			<img src="assets/Team.png">
			<div class="title">Team</div>
			<div class="description">We're currently a team of four. If you want to join us, so we can make that number grow, visit the 'Careers' tab.</div>
		</div>
		<div class="square jurnie col-md-6 col-lg-6 col-xl-6">
			<img src="assets/Our Jurnie.png">
			<div class="title">Jurnie</div>
			<div class="description">At this moment our team has visited a combined 30 countries. It's a few, but there's plenty more on the wish list!</div>
		</div>



	</div>

    <!-- THE MOUNTAIN RANGE, PLUS EXTRA PAGE LINKS -->
    
        <div class="bottom-info-container">
            <div class="extra-links-container">
                <div class="extra-links">
                    <div class="extra-link cursor"  ui-sref="app.about">About | </div>
                    <div class="extra-link cursor"  ui-sref="app.careers"> Careers | </div>
                    <div class="extra-link cursor"  ui-sref="app.invest"> Invest | </div>
                    <div class="extra-link cursor" >
                        <a class="insta" href="https://www.instagram.com/the_jurnie">Instagram</a>
                    </div>
                </div>
            </div>
            <div class="copyright-info">
                &copy; Copyright Jurnie Pty Ltd. ACN 621 547 886 2017
                <br>All Rights Reserved.
            </div>
        </div>
















    </div>