<!--New Edit modal-->
<div class="everything">
    <div id="infowindow" class="infowindow" ng-controller="MapsCtrl as maps">
        <div class="top-bar">
            <div class="empty-space">
            </div>
            <div class="place-name">
                Test Place
            </div>
            <div class="trash-btn cursor">
                <div class="trash-pic glyphicon glyphicon-edit">
                    ' +
                </div>
            </div>
        </div>
        <div class="dates-there">
            <div class="date from">
                From: 04/12/1990
            </div>
            <div class="date to">
                To:  11/09/2018
            </div>
        </div>
        <div class="tabs">
            <div class="note-pic-tab tab">
                <img class="camera" src="../assets/Notes - Grey.png">
            </div>
            <div class="friend-tab tab">
                <img class="little-man" src="../assets/Pin Man - White.png">
            </div>
        </div>
    </div>
</div>