<!--Modal back up -->
<!--
NEW PIN MODAL -->
<div id="newPin" >
    <div class="modal-header">       
        
    </div>
    <div class="modal-body" id="modal-body">
        <div>
            <img ng-src="{{image}}" class="img-responsive">
            <div class="popupclosebtn" style="text-align:center; margin: 10px 0">
                <button class="cancel btn btn-warning cursor" type="button" ng-click="maps.closePhotoPopup()">close</button>
            </div>
        </div>
    </div>
</div>
<style>
    @media screen and (max-width: 767px) {
        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: auto;
            width: 100%;
            left: 50%;
        }
    }
</style>