<div id="signup">
	<!-- INITIAL SIGNUP, RIGHT JUSTIFIED -->
	<div class="signup-form-container">

		<div class="profile-pic">
			<div class="pro-pic-container cursor">
				<img-uploader upload-url="photo" on-upload="signup.updateProfilePic" img-class="" img-url="signup.user.profilePic"></img-uploader>
			</div>
		</div>

		<form class="signup-form">
			<div class="name-entry">
				<input tabindex='4' ng-model="signup.user.firstName" name="firstName" placeholder="* First Name" class="name" maxlength="35"
				 required/>
				<input tabindex='5' ng-model="signup.user.lastName" name="lastName" placeholder="* Surname" class="name" maxlength="35" required/>
			</div>
			<input tabindex='6' ng-model="signup.user.email" type="email" name="email" placeholder="* Email" required/>
			<input tabindex='7' ng-model="signup.user.password" type="password" placeholder="* Password" name="password" required/>
			<div class="radio-birthday">
				<div tabindex='8' class="radio-circle cursor" ng-class="{'circle-selected': signup.user.gender === 'male'}" ng-click="signup.user.gender = 'male'"></div>
				<div class="radio-title">Male</div>
				<div tabindex='9' class="radio-circle cursor" ng-class="{'circle-selected': signup.user.gender === 'female'}" ng-click="signup.user.gender = 'female'"></div>
				<div class="radio-title">Female</div>
				<input tabindex='10' type="text" ng-click="signup.open2()" class="name" uib-datepicker-popup ng-model="signup.user.birthday"
				 is-open="signup.popup2.opened" datepicker-options="signup.dateOptions" ng-required="true" show-button-bar="false" on-open-focus="false"
				 placeholder="Birthday" readonly/>
				<span class="input-group-btn">
					<div  class="calendar-btn btn btn-default" ng-click="signup.open2()">
						<i class="glyphicon glyphicon-calendar"></i>
					</div>
				</span>
			</div>
			<select tabindex='11' class="selector nationality-select" ng-model="signup.user.nationality" ng-options="country.name as country.name for country in signup.countries"></select>
			<span class="glyphicon glyphicon-chevron-down hidden-sm hidden-xs"></span>
			<select tabindex='12' class="selector traveler-select" ng-model="signup.user.travelerTypeId" ng-options="type.id as type.description for type in signup.travelerTypes"></select>
			<span class="glyphicon glyphicon-chevron-down hidden-sm hidden-xs"></span>
			<input tabindex='13' ng-model="signup.user.favorite" type="text" placeholder="Favourite place in the world?" />
			<div vc-recaptcha key="'6LeEcTAUAAAAAEJJuRNaIPqCOPsCnCPfwJSlF7bA'" ng-model="signup.user.recaptchaResponse"></div>
			<input type="submit" ng-click="signup.goToAddFriends()" class="signup" value="Next!"></input>

			<div class="signup-form"></div>
		</form>
	</div>
</div>