#password-recovery .recovery-form{
	    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    width: 50vw;
    margin: auto;
    min-width: 320px;
	    max-width: 600px;
}

#password-recovery input{
	    /*min-width: 360px;*/
    border: none;
    border-bottom: 2px solid #F7914C;
    margin: 12px 10px;
        margin: 12px auto;
    width: 100%;
	border-radius: 0;
}

#password-recovery .submit {
    border-radius: 24px;
    height: 25px;
    color: white;
    background-color: #f7914c;
    margin-top: 10px;
    border: none;
    width: 53px;
    align-self: flex-end;
    margin-right: 1vw;
}

#password-recovery label{
    align-self: flex-start;
    color: #F7914C;
}

#password-recovery .title{
    text-align: center;
    font-size: 24px;
    margin: -40px auto 30px auto;
    color: #F7914C;
}

#password-recovery button{
    align-self: flex-end;
    color: white;
    background-color: #F7914C;
    border: none;
    border-radius: 50px;
}