#settings .titles {
	display: flex;
	flex-direction: column;
	color: #f7914c;
    margin: 5px 5px 0px 0px;
}

#settings .infos {
	display: flex;
	flex-direction: column;
	color: #f7914c;
	margin: 5px 5px 0px 0px;
}

#settings .settings-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#settings .info-container {
	display: flex;
	flex-direction: row;
	    justify-content: space-around;
}

#settings .picture-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#settings .change-pic {
	color: #f7914c;
	margin: 10px auto;
}

#settings .profile-pic {
	margin: 10px auto;
	height: 50px;
	width: 50px;
}

#settings .settings-title {
	color: #f7914c;
    margin-left: 55px;
	font-size: 38px;
	font-weight: bold;
}

#settings .close-btn {
color: #fff;
background: #f7914c;
display: inline-block;
height: 30px;
line-height: 28px;
width: 30px;
text-align: center;
border-radius: 50%;
font-size: 20px;
position: absolute;
right: 0;
top: 0;
border: 2px solid #fff;
}

#settings .title {
	color: #f7914c;
	font-size: 20px;
	font-weight: bold;
	width: auto;
    min-width: 50%;
}

#settings .info {
	color: #f7914c;
	font-size: 20px;
}

#settings input{
	width: 90%;
}

.modal-content {
    margin: auto;
    width: 75vw;
    min-width: 300px;
    border-radius: inherit;
	max-width: 600px;
}

.modal-dialog{
	width: 75vw;
}

.sa-icons .sa-custom {
	width: 100px;
	height: 100px;
}

.sweet-alert h2 {
	color: #f7914c;
}

.sweet-alert p {
	color: #f7914c;
}

.sweet-alert button.cancel {
	background-color: #f7914c;
}

.sweet-alert .sa-icon.sa-warning {
	border-color: #f7914c;
}

.settings-buttons {
	display: flex;
	padding: 10px;
	justify-content: space-between;
}

#settings .delete-btn {
    background-color: #A7A9AC;
    color: white;
    border: none;
    font-size: 23px;
    padding: 1px 8px 0px 8px;
    margin-left:50px;
}

#settings .save-btn{
	background-color: #00A99D;
    color: white;
    border: none;
    font-size: 23px;
    padding: 1px 8px 0px 8px;
    margin-right:55px;
}

#newPin span.star.glyphicon.glyphicon-star{
	font-size: 50px;
}
@media screen and (max-width: 768px) and (min-width: 401px){
	.modal-content {
		min-width: 99%;
	}
	.modal-dialog{
		width: 95vw;
	}
}

@media screen and (max-width: 400px) and (min-width: 326px){
	.modal-content {
		min-width: 99%;
	}
	.modal-dialog{
		width: 95vw;
	}
	#settings .title{
		font-size: 16px;
	}
	#settings .info{
		font-size: 16px;
	}
	#newPin span.star.glyphicon.glyphicon-star {
		font-size: 45px;
	}
}

@media screen and (max-width: 325px) and (min-width: 275px){
	/*.modal-content {
		min-width: 305px;
	}*/
	.modal-content {
		min-width: 99%;
	}
	.modal-dialog{
		width: 95vw;
	}
	#newPin .pin-pic {
		height: 26px;
		width: 18px;
	}
	#newPin .notes-text {
		min-width: 273px;
	}
	#newPin span.star.glyphicon.glyphicon-star{
		font-size: 35px;
	}
	#settings .title{
		font-size: 16px;
	}
	#settings .info{
		font-size: 16px;
	}
	#newPin span.star.glyphicon.glyphicon-star {
		font-size: 45px;
	}

}
/*@media screen and (max-width: 300px) and (min-width: 270px){
	min
}*/



@media screen and (min-width: 1000px){
	.modal-content {
		margin: auto;
		width: 50vw;
		min-width: 300px;
		border-radius: inherit;
	}
	.modal-dialog{
		width: 50vw;
	}
}
.modal {
position: absolute;
top: 50%;
left: 50%;
z-index: 1050;
display: none;
-webkit-overflow-scrolling: touch;
outline: 0;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
    min-height: 505px;
}
#settings .close-btn {
    color: #fff;
    background: #f7914c;
    display: inline-block;
    height: 22px;
    line-height: 18px;
    width: 22px;
    text-align: center;
    border-radius: 100%;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #fff;
    text-align: center;
}
#settings .settings-title {
    color: #f7914c;
    margin-left: 59px;
    font-size: 38px;
    font-weight: bold;
}
#settings .save-btn {
    background-color: #00A99D;
    color: white;
    border: none;
    font-size: 23px;
    padding: 1px 8px 0px 8px;
    margin-right: 50px;
}